[MASTER]

; # Deshabilitar algunos mensajes
; disable=minvalid-name,
;         line-too-long,
;         too-many-arguments,
;         too-many-branches,
;         too-many-instance-attributes,
;         too-many-lines,
;         too-many-public-methods,
;         too-many-statements,
;         no-self-use

# Deshabilitar algunos mensajes de tipos específicos
disable=C0103,  # invalid-name
        C0303,  # trailing-whitespace
        C0301,  # line-too-long
        W0105,  # pointless-string-statement

# Ignorar algunos archivos y carpetas
ignore=.venv,
       .vscode,
       __pycache__,
       migrations,
       olivia,

; [MESSAGES CONTROL]

; # Deshabilitar algunos mensajes específicos
; disable=logging-fstring-interpolation,
;         logging-format-interpolation,
;         useless-suppression


