/* Tipo de letra */
html {
  font-family: monospace;
  font-size: 1.6em;
}

h1 {
  color: crimson !important;
  font-size: 2.5em !important;
}

h1,
h2,
h3 {
  font-weight: bold !important;
}

/* Sobreescritura que arregla el  glitch
que el contenedor anterior tapaba en seleccionado al
hacer click en un enlace de la documentacion */
dt:target {
  margin-top: unset !important;
  /* padding-top: unset !important; */
}


.simple {
  margin-top: 8px !important;
}

/* 
Caberecera 
-------------------------------------
*/

header.md-header {
  background-color: #ff5200 !important;
  color: white !important;
}

/* 
Menu nav 
-------------------------------------
*/
nav.md-tabs {
  background-color: #c30d0df0 !important;
  color: white !important;
  font-weight: bold !important;
}

body > div > main > div > div.md-sidebar.md-sidebar--primary > div > div > nav > label {
  background-color: #ffffff !important;
}

body > div > main > div > div.md-sidebar.md-sidebar--primary > div > div > nav > div {
  background-color: #ff5200 !important;
}

/*
Media querie para el menu
*/
@media only screen and (max-width: 76.25em) {
  body > div > main > div > div.md-sidebar.md-sidebar--primary > div > div > nav > label {
    background-color: #ff5200  !important;
  }
}



/*
Descripcion del modulo
-------------------------------------
*/
section#description {
  background-color: #ffc9621f;
  /* Amarillo claro */
  border-radius: 9px;
  padding: 10px;
  padding-top: 0px;
}

section#description>dl.simple {
  font-size: small;
  color: #120f73;
}

/* 
Clases
-------------------------------------
*/

dl.py.class>dt {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #ffd60073;
  padding: 10px;
  border-radius: 9px;
}


/* Parametros de las clases */
/* dl.py.class>dt>em.sig-param {
  font-weight: normal;
  font-size: 0.9em;
  color: #591010;
} */

dl.py.class>dt>em.sig-param {
  font-size: 0.9em;
  font-weight: bold;
  color: #215016;
  display: block;
  margin-left: 30px;
}

/* Etiqueta enlace [source] para visualizar el codigo fuente */
dl.py.class a {
  color: mediumvioletred;
  padding-left: 3px;
}

/* Estilo del fieldlist */
dl.py dl.field-list.simple {
  padding: 12px;
  background: #ffc9621f;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  border-radius: 9px;
}

dl.py em.property {
  font-weight: bold;
  color: #083292;
  background: #01f30038;
  padding: 0 3px;
  border-radius: 5px;
  border: 2px solid #3c589938;
  float: right;
  font-size: 13px !important;
}

dl.py.class em.sig-param>span.n:nth-child(1) {
  font-weight: bold;
  color: #083292;
}

/* 
  Metodos 
  -------------------------------------
*/

/* separacion por arriba de los metodos */
dl.py.method {
  margin-top: 30px;
}

/* Envoltorio del nombre del metodo*/
dl.py.method>dt {
  background-color: #ffd60073;
  border-radius: 9px;
  padding: 10px;
  font-weight: bolder;
}

/* tipo de metodo */
dl.py.method>dt>em.property {
  color: #083292;
  font-size: 17px;
  margin-right: 10px;
}

dl.py.method>dt>em.sig-param {
  font-size: 0.9em;
  font-weight: bold;
  color: #215016;
  display: block;
  margin-left: 30px;
}


/* 
  Atributos 
  -------------------------------------
*/

/* 
  oculatamos los atributos 
  Es mejor documentarlos en el docstring de la clase
  */

dl.py.attribute {
  display: none !important;
}


.md-typeset dd {
  margin: revert;
}

/* 
  Excepciones 
  -------------------------------------
*/

dl.py.exception {
  margin-top: 30px;
}

dl.py.exception>dt {
  background-color: #ffd600;
  border-radius: 9px;
  padding: 10px;
  font-weight: bolder;
}

/* dl.py.exception>dt>em.property {
  color: #083292;
  font-size: 17px;
  margin-right: 10px;
} */

dl.py.exception>dt>em.sig-param {
  font-size: 0.9em;
  font-weight: bold;
  color: #215016;
  display: block;
  margin-left: 30px;
}

dl.py.exception a {
  color: mediumvioletred;
  padding-left: 3px;
}