/* Tipo de letra */
html {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

/* Sobreescritura que arregla el  glitch
que el contenedor anterior tapaba en seleccionado al
hacer click en un enlace de la documentacion */
dt:target {
  margin-top: unset !important;
  padding-top: unset !important;
}


/* 
Caberecera 
-------------------------------------
*/

header.md-header {
  background-color: #590886 !important;
  color: white !important;
}

/* 
Menu nav 
-------------------------------------
*/
nav.md-tabs {
  background-color: #590886f0 !important;
  color: white !important;
  font-weight: bold !important;
}

@media only screen and (min-width: 76.25em){
  nav.md-tabs {
    background-color: #590886f0 !important;
    color: white !important;
  }

  html[data-md-color-primary="blue"].md-nav--primary.md-nav__title--site {
    background-color: #590886f0 !important;
  }

  html.md-nav--primary.md-nav__title--site {
    background-color: #590886f0 !important;
  }
}


/*
Descripcion del modulo
-------------------------------------
*/
section#description {
  background-color: #fff8932b; /* Amarillo claro */
  border-radius: 9px;
  padding: 10px;
  padding-top: 0px;
}

section#description>dl.simple {
  font-size: small;
  color: #120f73;
}

/* 
Clases
-------------------------------------
*/

dl.py.class>dt {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #9ca2ff8a;
  padding: 10px;
  border-radius: 9px;
}

/* Parametros de las clases */
dl.py.class>dt>em.sig-param {
  font-weight: normal;
  font-size: 0.9em;
  color: #591010;
}

/* Etiqueta enlace [source] para visualizar el codigo fuente */
dl.py.class a {
  color: mediumvioletred;
  padding-left: 3px;
}

/* Estilo del fieldlist */
dl.py.class dl.field-list.simple {
  padding: 12px;
  background: #93ffe154;
  font-family: arial;
  line-height: initial;
  border-radius: 9px;
}

dl.py.class em.property {
  font-weight: bold;
  font-size: 1.2em;
  color: crimson;
}

dl.py.class em.sig-param > span.n:nth-child(1) {
  font-weight: bold;
  color: crimson;
}

/* 
  Metodos 
  -------------------------------------
*/

/* separacion por arriba de los metodos */
dl.py.method {
  margin-top: 30px;
}

/* Envoltorio del nombre del metodo*/
dl.py.method>dt {
  background-color: #54fdc4;
  border-radius: 9px;
  padding: 10px;
  font-weight: bolder;
}

/* tipo de metodo */
dl.py.method>dt>em.property {
  color: crimson;
  font-size: 17px;
  margin-right: 10px;
}


/* dl.simple>dt>span.classifier {
  color: blueviolet;
  font-weight: bolder;
} */

/* a.reference.internal > span > span {
  font-size: 12px;
} */