html {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

header.md-header {
  background-color: #590886 !important;
  color: white !important;
}

nav.md-tabs {
  background-color: #590886 !important;
  color: white !important;
  font-weight: bold !important;
}

dl.py.class>dt {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #d098f0;
  padding: 13px;
  border-radius: 9px;
}

dl.py.class>dt>em.sig-param {
  font-weight: normal;
  font-size: medium;
  color: black;
}

/* Etiqueta enlace [source] para visualizar el codigo fuente */
dl.py.class a {
  color: mediumvioletred;
  padding-left: 3px;
}

dl.py.class dl.field-list.simple {
  padding: 12px;
  background: #93ffe154;
  font-family: arial;
  line-height: initial;
  border-radius: 9px;
}

div>nav.md-sidebar.md-sidebar--primary,
div>nav.md-sidebar.md-sidebar--secondary {
  background-color: #54fdc4 !important;
  color: black !important;
}

dl.py.method {
  margin-top: 30px;

}

/* dl.py.method div.doctest.highlight-default.notranslate {
  margin-bottom: 100px;
} */

dl.py.method>dt {
  background-color: #54fdc4;
  border-radius: 9px;
  padding: 17px;
  font-weight: bolder;
}

dl.py.method>dt>em.property {
  color: crimson;
  font-size: 17px;
  margin-right: 10px;
}

table {
  /* margin-bottom: 100px; */
}

dl.simple>dt>span.classifier {
  color: blueviolet;
  font-weight: bolder;
}

section#description>dl.simple {
  font-size: small;
  color: #120f73;
}

section#description {
  background-color: #93ffe154;
  border-radius: 9px;
  padding: 10px;
  padding-top: 0px;
}

a.reference.internal > span > span {
  font-size: 12px;
}